.apl-group-editor-root {
	.apl-action-picker-root {
		width: 100%;
		display: flex;
	}

	.list-picker-title {
		font-weight: normal;
	}

	.list-picker-new-button {
		width: unset !important;
	}

	.apl-group-name-display {
		display: flex;
		align-items: center;
		gap: var(--spacer-2);

		.apl-group-name-value {
			font-weight: bold;
		}

		.apl-group-name-rename {
			padding: 0;
			line-height: 1;
		}
	}
}

.group-reference-variables-container {
	.group-variable-label {
		font-size: var(--btn-font-size);
	}

	.list-picker-root {
		.list-picker-items {
			gap: calc(var(--apl-spacer) * 1.5) !important;
		}
	}
}
